nav> ul> li{
    display:inline;
    margin-right: 150px;
    font-size: larger;
}

nav> a{
    text-decoration: none;
}
footer{
    text-align: center;
    margin-top: 20px;
}
label{
    display: block;
    margin-top: 10px;
}
